<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='styleLogin.css') }}">
    <title>login page</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/loginRegister" method="POST">
                <h1>Crea un account</h1>
                
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Registrati</button>

                {% if success %}
                    <p class="success-message">{{ success }}</p>
                {% endif %}
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
            </form>
        </div>

        <!-- Sezione di login -->
        <div class="form-container sign-in">
            <form action="/loginRegister" method="POST">
                <h1>Accedi</h1>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <a href="/inviaCodice">Hai dimenticato la password?</a>
                <button type="submit">Accedi</button>

                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
            </form>
        </div>

        <!-- Pannelli di transizione -->
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Benvenuto di nuovo!</h1>
                    <p>Inserisci i tuoi dati personali per utilizzare tutte le funzionalità del sito</p>
                    <button class="hidden" id="login">Accedi</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Ciao, utente!</h1>
                    <p>Registrati con i tuoi dati personali per utilizzare tutte le funzionalità del sito</p>
                    <button class="hidden" id="register">Registrati</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', path='script.js') }}"></script>

</body>

</html>
